## **The frist several cells are for Google Colab only**
It is used to link to your folder on Google Drive; To run the following command, remove the hashtages at teh beginning of the command lines

In [2]:

from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

Change the directory to your folder on Google Drive

In [3]:
cd '/content/drive/My Drive/Colab Notebooks/MKTG6010'

[WinError 3] The system cannot find the path specified: "'/content/drive/My Drive/Colab Notebooks/MKTG6010'"
C:\Users\Furqan Ali\Desktop\woek

In [ ]:
## display the directory
!pwd

## **Starting from now, the codes are for either Jupyter or Google Colab**

In [2]:
import pandas as pd
import numpy as np

data=pd.read_csv('C:/Users/Furqan Ali/Desktop/woek/linkedin_data.csv')
data.head()

,IPAddress,Duration (in seconds),ResponseId,LocationLatitude,LocationLongitude,Q4,Q5_1,Q5_2,Q5_3,Q5_4,...,Q8_14,Q8_15,Q10,Q11,Q12,Q14,Q15,Q16,Q17,Q18
0,198.182.157.254,239,R_bqkat7vEJIOtO7j,34.417999,-118.566200,Yes,3,4,4,3,...,4.0,4.0,2-3 times a week,1-3 years,1-2 hours,Female,26-35,Masters Degree,United States of America,Educational services
1,174.155.134.32,191,R_4UyBdECON03cUrb,25.857605,-80.278099,Yes,4,5,4,4,...,4.0,5.0,2-3 times a week,7-12 months,1-2 hours,Female,26-35,High School,United States of America,Real estate or rental and leasing
2,45.46.112.52,140,R_9BL6eXmPRlTawEl,46.912094,-68.043098,Yes,4,6,4,3,...,5.0,5.0,2-3 times a week,1-3 years,Less than one hour,Male,26-35,4-year College Degree,United States of America,"Arts, entertainment or recreation"
3,172.56.23.132,410,R_6EasCVITCdtBRI1,42.464203,-70.971703,Yes,4,4,3,4,...,3.0,4.0,2-3 times a week,7-12 months,2-5 hours,Male,36-50,High School,United States of America,"Professional, scientific or technical services"
4,65.96.122.144,171,R_3PMRpp5cpHj5e1D,43.644196,-72.306602,Yes,4,5,4,4,...,5.0,5.0,2-3 times a week,More than 3 years,Less than one hour,Female,36-50,Masters Degree,United States of America,Construction

In [3]:
data

,IPAddress,Duration (in seconds),ResponseId,LocationLatitude,LocationLongitude,Q4,Q5_1,Q5_2,Q5_3,Q5_4,...,Q8_14,Q8_15,Q10,Q11,Q12,Q14,Q15,Q16,Q17,Q18
0,198.182.157.254,239,R_bqkat7vEJIOtO7j,34.417999,-118.566200,Yes,3,4,4,3,...,4.0,4.0,2-3 times a week,1-3 years,1-2 hours,Female,26-35,Masters Degree,United States of America,Educational services
1,174.155.134.32,191,R_4UyBdECON03cUrb,25.857605,-80.278099,Yes,4,5,4,4,...,4.0,5.0,2-3 times a week,7-12 months,1-2 hours,Female,26-35,High School,United States of America,Real estate or rental and leasing
2,45.46.112.52,140,R_9BL6eXmPRlTawEl,46.912094,-68.043098,Yes,4,6,4,3,...,5.0,5.0,2-3 times a week,1-3 years,Less than one hour,Male,26-35,4-year College Degree,United States of America,"Arts, entertainment or recreation"
3,172.56.23.132,410,R_6EasCVITCdtBRI1,42.464203,-70.971703,Yes,4,4,3,4,...,3.0,4.0,2-3 times a week,7-12 months,2-5 hours,Male,36-50,High School,United States of America,"Professional, scientific or technical services"
4,65.96.122.144,171,R_3PMRpp5cpHj5e1D,43.644196,-72.306602,Yes,4,5,4,4,...,5.0,5.0,2-3 times a week,More than 3 years,Less than one hour,Female,36-50,Masters Degree,United States of America,Construction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,203.13.128.104,48799,R_5oKT2UHrPLLN5yV,-33.791199,151.129791,Yes,7,3,3,2,...,3.0,1.0,Once in a month or less,More than 3 years,Less than one hour,Female,26-35,Professional Degree,Australia,"Professional, scientific or technical services"
278,24.20.159.132,308,R_b13YF7M1qu4RycJ,45.514404,-122.643295,Yes,7,4,4,4,...,4.0,4.0,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,"Professional, scientific or technical services"
279,70.124.152.197,1866,R_2sizYJgiDIpBdLT,30.365997,-97.643700,Yes,7,5,4,4,...,2.0,2.0,Once in a month or less,1-3 years,Less than one hour,Female,36-50,Doctoral Degree,United States of America,Educational services
280,71.13.225.11,291,R_9Z8cqlkP0kY5Zgp,42.560196,-85.858597,Yes,7,7,6,7,...,4.0,4.0,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,Real estate or rental and leasing
281,73.31.223.54,2831,R_7OJwqZ6sI9wQsMR,NaN,NaN,Yes,7,7,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.drop(data.index[0],inplace=True)

In [5]:
data.drop(columns=['Q7_1','Q8_15'])

,IPAddress,Duration (in seconds),ResponseId,LocationLatitude,LocationLongitude,Q4,Q5_1,Q5_2,Q5_3,Q5_4,...,Q8_13,Q8_14,Q10,Q11,Q12,Q14,Q15,Q16,Q17,Q18
1,174.155.134.32,191,R_4UyBdECON03cUrb,25.857605,-80.278099,Yes,4,5,4,4,...,4.0,4.0,2-3 times a week,7-12 months,1-2 hours,Female,26-35,High School,United States of America,Real estate or rental and leasing
2,45.46.112.52,140,R_9BL6eXmPRlTawEl,46.912094,-68.043098,Yes,4,6,4,3,...,4.0,5.0,2-3 times a week,1-3 years,Less than one hour,Male,26-35,4-year College Degree,United States of America,"Arts, entertainment or recreation"
3,172.56.23.132,410,R_6EasCVITCdtBRI1,42.464203,-70.971703,Yes,4,4,3,4,...,3.0,3.0,2-3 times a week,7-12 months,2-5 hours,Male,36-50,High School,United States of America,"Professional, scientific or technical services"
4,65.96.122.144,171,R_3PMRpp5cpHj5e1D,43.644196,-72.306602,Yes,4,5,4,4,...,7.0,5.0,2-3 times a week,More than 3 years,Less than one hour,Female,36-50,Masters Degree,United States of America,Construction
5,68.112.234.118,219,R_3lV20yTSoLXFX4p,42.272293,-72.402000,Yes,4,5,5,6,...,4.0,5.0,2-3 times a week,1-3 years,2-5 hours,Female,26-35,4-year College Degree,United States of America,Other services (except public administration)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,203.13.128.104,48799,R_5oKT2UHrPLLN5yV,-33.791199,151.129791,Yes,7,3,3,2,...,4.0,3.0,Once in a month or less,More than 3 years,Less than one hour,Female,26-35,Professional Degree,Australia,"Professional, scientific or technical services"
278,24.20.159.132,308,R_b13YF7M1qu4RycJ,45.514404,-122.643295,Yes,7,4,4,4,...,4.0,4.0,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,"Professional, scientific or technical services"
279,70.124.152.197,1866,R_2sizYJgiDIpBdLT,30.365997,-97.643700,Yes,7,5,4,4,...,4.0,2.0,Once in a month or less,1-3 years,Less than one hour,Female,36-50,Doctoral Degree,United States of America,Educational services
280,71.13.225.11,291,R_9Z8cqlkP0kY5Zgp,42.560196,-85.858597,Yes,7,7,6,7,...,5.0,4.0,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,Real estate or rental and leasing
281,73.31.223.54,2831,R_7OJwqZ6sI9wQsMR,NaN,NaN,Yes,7,7,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#data.drop(data.columns['Q7_1':'Q8_15'],axis=1,inplace=True)

In [10]:
for col in data.columns:
    if 'Q7' in col:
        del data[col]

In [11]:
for col in data.columns:
    if 'Q8' in col:
        del data[col]

In [12]:
data.tail()

,IPAddress,Duration (in seconds),ResponseId,LocationLatitude,LocationLongitude,Q4,Q5_1,Q5_2,Q5_3,Q5_4,...,Q5_16,Q5_17,Q10,Q11,Q12,Q14,Q15,Q16,Q17,Q18
277,203.13.128.104,48799,R_5oKT2UHrPLLN5yV,-33.791199,151.129791,Yes,7,3,3,2,...,7,1,Once in a month or less,More than 3 years,Less than one hour,Female,26-35,Professional Degree,Australia,"Professional, scientific or technical services"
278,24.20.159.132,308,R_b13YF7M1qu4RycJ,45.514404,-122.643295,Yes,7,4,4,4,...,4,4,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,"Professional, scientific or technical services"
279,70.124.152.197,1866,R_2sizYJgiDIpBdLT,30.365997,-97.643700,Yes,7,5,4,4,...,3,4,Once in a month or less,1-3 years,Less than one hour,Female,36-50,Doctoral Degree,United States of America,Educational services
280,71.13.225.11,291,R_9Z8cqlkP0kY5Zgp,42.560196,-85.858597,Yes,7,7,6,7,...,6,5,Once in a month or less,More than 3 years,Less than one hour,Female,36-50,4-year College Degree,United States of America,Real estate or rental and leasing
281,73.31.223.54,2831,R_7OJwqZ6sI9wQsMR,NaN,NaN,Yes,7,7,7,7,...,7,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Create a dummy variable: 1 - definately stay; 0 - otherwise
data['stay']=(data['Q5_1']>6).astype(int)

In [14]:
#X: Q5_2 : Q5_9
X=data[data.columns[7:15]]
y=data['stay']

In [15]:
X.describe()

,Q5_2,Q5_3,Q5_4,Q5_5,Q5_6,Q5_7,Q5_8,Q5_9
count,281.000000,281.000000,281.000000,281.000000,281.000000,281.000000,281.000000,281.000000
mean,5.654804,5.060498,5.434164,4.989324,5.330961,5.213523,5.562278,3.619217
std,1.224039,1.539911,1.348322,1.781821,1.623731,1.559749,1.269364,2.158253
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,1.000000
50%,6.000000,5.000000,6.000000,5.000000,6.000000,5.000000,6.000000,3.000000
75%,7.000000,6.000000,7.000000,7.000000,7.000000,6.000000,7.000000,5.000000
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [16]:
y.describe()

count    281.000000
mean       0.455516
std        0.498906
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: stay, dtype: float64

In [17]:
data.shape

(281, 32)

# Gradient Boosting

In [18]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.4-py3-none-win_amd64.whl (89.1 MB)
     ---------------------------------------- 89.1/89.1 MB 1.5 MB/s eta 0:00:00
Requirement already satisfied: numpy in d:\software installed\anaconda\lib\site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in d:\software installed\anaconda\lib\site-packages (from xgboost) (1.10.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.4
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sklearn.model_selection import train_test_split
#X: Q5_2 : Q5_9
X=data[data.columns[7:15]]
y=data['stay']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [ ]:
#from sklearn.model_selection import train_test_split
#X: Q5_2 : Q5_9
#X=data[['Q5_2','Q5_3','Q5_4','Q5_5','Q5_6','Q5_7','Q5_8','Q5_9','Q10','Q11']]

#y=data['stay']
#x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [24]:
# Define XGB_clf 
# Fit the model- XGB_clf
...
import xgboost as xgb
from sklearn.metrics import confusion_matrix, precision_score, recall_score, roc_auc_score, log_loss

from xgboost import XGBClassifier
XGB_clf = XGBClassifier(n_estimators=200, learning_rate=0.5)
XGB_clf.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.5, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=200, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [29]:

# generate the model performance measures ['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']



...

Error rate: 0.155
Sensitivity: 0.839
Specificity: 0.850
Precision: 0.812
AUC: 0.874
Cross-Entropy: 0.775

Ellipsis

In [30]:
# print feature importances 
...
print(XGB_clf.feature_importances_)

[0.29181203 0.10549171 0.07977872 0.12886703 0.05281699 0.0766299
 0.20418608 0.06041753]

In [31]:
y_pred=XGB_clf.predict(x_test)
y_comparison=pd.DataFrame({'y_test': y_test,
                           'y_pred': y_pred})
pd.DataFrame(y_comparison).to_csv('Data/y_comparison.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'Data'

**Adaboost**

In [ ]:
...

**Result interpretation**:
...

## Fine-tune hyperparameters
Intall xgboost and scikeit-optimize pacakges if not installed yet, by removing #(hashtage) on the command line

In [32]:
pip install xgboost

Requirement already satisfied: xgboost in d:\software installed\anaconda\lib\site-packages (1.7.4)
Requirement already satisfied: scipy in d:\software installed\anaconda\lib\site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in d:\software installed\anaconda\lib\site-packages (from xgboost) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install scikit-optimize

Collecting scikit-optimize
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     ------------------------------------ 100.3/100.3 kB 957.7 kB/s eta 0:00:00
Requirement already satisfied: joblib>=0.11 in d:\software installed\anaconda\lib\site-packages (from scikit-optimize) (1.1.1)
Requirement already satisfied: numpy>=1.13.3 in d:\software installed\anaconda\lib\site-packages (from scikit-optimize) (1.23.5)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\software installed\anaconda\lib\site-packages (from scikit-optimize) (1.2.1)
Requirement already satisfied: scipy>=0.19.1 in d:\software installed\anaconda\lib\site-packages (from scikit-optimize) (1.10.0)
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: PyYAML in d:\software installed\anaconda\lib\site-packages (from pyaml>=16.9->scikit-optimize) (6.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\software installed\anaconda\lib\site-packages (from scikit-learn>=0.20.0->scikit-optimize) (2.2.0)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.10.1 scikit-optimize-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [36]:

#Using BayesSearchCV from skopt, fine tune  'learning_rate': Real(0.005, 0.15), 'n_estimators' : Integer(100, 2000),
#               'max_depth' : Integer(1, 4), 'subsample' : Real(0.5, 1.0), 'colsample_bynode' : Real(0.01, 1.0),
...

SyntaxError: invalid syntax (2019203953.py, line 1)

In [35]:
print(XGB_clf.feature_importances_)

[0.29181203 0.10549171 0.07977872 0.12886703 0.05281699 0.0766299
 0.20418608 0.06041753]

**Result Interpretation (feature imporances)**:
...

In [37]:


# generate model performance measures of ['Error rate', 'Precision', 'Sensitivity', 'Specificity', 'AUC', 'Cross-Entropy']
# make predictions on the test set
y_pred = XGB_clf.predict(x_test)
y_prob = XGB_clf.predict_proba(x_test)[:, 1]
# calculate the confusion matrix
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

# calculate the performance measures
error_rate = (fp + fn) / (tp + tn + fp + fn)
sensitivity = tp / (tp + fn)
specificity = tn / (tn + fp)
precision = precision_score(y_test, y_pred)
auc = roc_auc_score(y_test, y_prob)
cross_entropy = log_loss(y_test, y_prob)

# print the results in the required format
print(f"Error rate: {error_rate:.3f}")
print(f"Sensitivity: {sensitivity:.3f}")
print(f"Specificity: {specificity:.3f}")
print(f"Precision: {precision:.3f}")
print(f"AUC: {auc:.3f}")
print(f"Cross-Entropy: {cross_entropy:.3f}")

Error rate: 0.155
Sensitivity: 0.839
Specificity: 0.850
Precision: 0.812
AUC: 0.874
Cross-Entropy: 0.775

**Result Interpretation (model performance)** 
...

## Multi class

In [62]:
#drop a small category (one observation)
data=data.drop(data[data['Q5_1']==3].index)

In [81]:
from sklearn.model_selection import train_test_split
#X: Q5_2 : Q5_9
X=data[data.columns[7:15]]
y=data['Q5_1']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [82]:
y_train.value_counts()

7    97
6    56
5    43
4    14
Name: Q5_1, dtype: int64

In [83]:
y_test.value_counts()

7    31
6    17
5    14
4     8
Name: Q5_1, dtype: int64

In [84]:
# change the values scale starting from 0 
y_train = y_train - 4
y_test = y_test - 4

In [85]:
# define XGB_clf
# fit the model XGB_clf
XGB_clf = XGBClassifier(n_estimators=200, learning_rate=0.5)
XGB_clf.fit(x_train, y_train)
...

Ellipsis

In [88]:
y_pred=XGB_clf.predict(x_test)

In [89]:
y_pred

array([0, 2, 0, 3, 3, 2, 3, 3, 3, 1, 1, 3, 3, 2, 1, 1, 1, 3, 3, 2, 3, 3,
       3, 2, 3, 2, 1, 1, 3, 1, 3, 3, 3, 1, 0, 3, 2, 3, 1, 3, 1, 3, 3, 3,
       1, 2, 2, 1, 2, 2, 1, 2, 3, 3, 1, 2, 2, 2, 0, 3, 1, 3, 2, 3, 2, 3,
       3, 1, 2, 3], dtype=int64)

In [90]:
y_comparison=pd.DataFrame({'y_test': y_test,
                           'y_pred': y_pred})
pd.DataFrame(y_comparison).to_csv('Data/y_comparison.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'Data'

In [91]:
error_rate=1-XGB_clf.score(x_test,y_test)
print(error_rate)

0.48571428571428577

**Result Interpretation**:

...

## Continous y

In [54]:
#define the model xgb_reg
#fit the model xgb_reg
from sklearn import preprocessing
xgb_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3,        
                  learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimators = 200)
xgb_reg.fit(x_train,y_train)

ylog=np.log1p(y)
x_train=preprocessing.normalize(x_train)
...

[18:43:59] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-0fc7796c793e6356f-1/xgboost/xgboost-ci-windows/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

Ellipsis

In [55]:
y_pred_reg=xgb_reg.predict(x_test)

In [56]:
y_comparison=pd.DataFrame({'y_test': y_test,
                           'y_pred': y_pred,
                           'y_pred_reg': y_pred_reg})
pd.DataFrame(y_comparison).to_csv('Data/y_comparison.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'Data'

In [57]:
xgb_reg.score(x_test,y_test)

0.39312652740120013

In [58]:
from sklearn.metrics import r2_score
r2_score(y_pred, y_test)

-0.023852385238523732